.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(23px) 0;
  background: #fff;
  height: rem(86px);

  @include phones {
    display: flex;
    align-items: center;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    flex-direction: column;
  }
}
.footer__socials {
  display: flex;
}
.footer__socials-item {
  margin-right: rem(14px);
  cursor: pointer;
  width: 23px;
  height: 23px;
  fill: #b3b3b3;

  @include tablets{
    
    
   
  }

  &:last-child {
    margin-right: 0;
  }
}
.phone-number__socials .number__under {
  width: 24px;
  height: 24px;
  fill: black;
  margin-right: 7px;
}
.icon_svg {
  fill: #497870;
}
.phone-number__green {
  color: #497870;
}
.phone-number {
  display: flex;
  justify-content: start;
}
