.menu{
  @include tablets{
  margin: 0 30px 0 40px;
  padding-top: 5px;
  display: none;
}
 

  @include phones{
    display: none;
  }
}
.menu__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

    @include tablets{
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
}  
}
.menu__item{
  margin-right: rem(27px);
    
    &:last-child{
    margin-right: 0;
    
  }
  @include tablets{
    margin-right: 1.6rem;
    margin-bottom: 10px;
  }
  }
.menu__link{
  text-decoration: none;

}

.menu__link{
  white-space: nowrap;

}
.menu__item{
    margin-top: 10px;

}
.phone-number__text{
  white-space: nowrap;


}
.phone-number{
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;

}
.phone-number__icon{
  flex-shrink: 0;

}
.phone-number__icon-elem{
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
 
}
