@import "http://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,300;1,400&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../../images/pattern.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
.hero:after {
  position: absolute;
  right: 10%;
  top: 59%;
  content: url("/images/group.svg");
}
.hero::before {
  content: url("/images/icons/leaf3.svg");
  bottom: -10%;
  left: 5%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}

.hero__container {
  background: url("../../images/sweets.png") left 87% center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 1.5555555556rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url("/images/icons/comp.png") center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    align-items: flex-start;
  }
}

.phone-number__icon {
  width: 24px;
  height: 24px;
  fill: white;
  margin-right: 10px;
}

.hamburger {
  position: fixed;
  width: 24px;
  height: 20px;
  flex-direction: column;
  display: inline-flex;
  justify-content: space-between;
  display: none;
  top: 5%;
  left: 93%;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}
@media screen and (max-width: 480px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .menu {
    margin: 0 30px 0 40px;
    padding-top: 5px;
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .menu__list {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
  }
}

.menu__item {
  margin-right: 1.5rem;
}
.menu__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .menu__item {
    margin-right: 1.6rem;
    margin-bottom: 10px;
  }
}

.menu__link {
  text-decoration: none;
}

.menu__link {
  white-space: nowrap;
}

.menu__item {
  margin-top: 10px;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.7777777778rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn--theme--white {
  background: #fff;
  color: #0b4d3c;
}
.btn--theme--white:hover {
  color: #fff;
  background: #0b4d3c;
}
.btn--theme--green {
  background: #0b4d3c;
  color: #fff;
}
.btn--theme--green:hover {
  color: #0b4d3c;
  background: #fff;
}
.btn--theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #0b4d3c;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #0b4d3c;
}
.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 0;
  }
}
.benefits__item::before {
  content: url("../../images/icons/shape.svg");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #292929;
}

.benefit__image {
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 1.1111111111rem;
  }
}

.benefits-section {
  position: relative;
  background: url("../../images/icons/leaf2.svg") left top 40% no-repeat;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section::before {
  content: url("../../images/icons/mal.svg");
  position: absolute;
  left: -1%;
  top: 86%;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    display: none;
  }
}

.reviews__display {
  background: #f8faf9;
  padding: 0.5555555556rem 2.5rem 1.8888888889rem;
  position: relative;
}
.reviews__display::before {
  content: url("../../images/icons/bush.svg");
  position: absolute;
  left: 86%;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  position: relative;
  flex: 1;
  margin-left: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: black;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    display: flex;
    justify-content: center;
  }
}

.reviews__text {
  display: block;
  padding-bottom: 1.2222222222rem;
  width: 25.7222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
@media screen and (max-width: 768px) {
  .reviews__author {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item {
  margin-right: 0.3333333333rem;
  margin-top: 0.8333333333rem;
}

.interactive-avatar__img {
  border: none;
}

.section.reviews-section {
  background: url("../../images/icons/bar1.svg") right 10% top 15% no-repeat;
  position: relative;
}
.section.reviews-section:before {
  content: url("/images/icons/leaf4.svg");
  position: absolute;
  top: 82%;
  left: -1%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .section.reviews-section:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .section.reviews-section:before {
    display: none;
  }
}
.section.reviews-section:after {
  content: url("/images/icons/bar3.svg");
  position: absolute;
  top: 90%;
}
@media screen and (max-width: 768px) {
  .section.reviews-section:after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .section.reviews-section:after {
    display: none;
  }
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section.order-section {
  background: url("../../images/fon02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container_bar {
  position: relative;
}
.container_bar::before {
  content: url("/images/icons/bar2.svg");
  position: absolute;
  top: 100%;
  left: 2%;
}
.container_bar::after {
  content: url("/images/icons/leaf6.svg");
  position: absolute;
  top: 80%;
  left: 85%;
}
@media screen and (max-width: 768px) {
  .container_bar::before, .container_bar::after {
    display: none;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding-right: 6.5555555556rem;
    padding-left: 6.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding-left: 1.6666666667rem;
    padding-right: 1.6666666667rem;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  padding: 0 0;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 36px;
  }
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
}
.form__input:focus {
  outline: none;
  border-color: #DEE2BD;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  justify-content: center;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: 1.3333333333rem;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible::before {
  background: url(../../images/check.svg) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  border-radius: 50%;
  position: relative;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  display: none;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 0.5555555556rem;
  border-radius: 4px;
}

.section-map {
  height: 100vh;
}

.map {
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
}

.img-map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #fff;
  height: 4.7777777778rem;
}
@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    align-items: center;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer__socials {
  display: flex;
}

.footer__socials-item {
  margin-right: 0.7777777778rem;
  cursor: pointer;
  width: 23px;
  height: 23px;
  fill: #b3b3b3;
}
.footer__socials-item:last-child {
  margin-right: 0;
}

.phone-number__socials .number__under {
  width: 24px;
  height: 24px;
  fill: black;
  margin-right: 7px;
}

.icon_svg {
  fill: #497870;
}

.phone-number__green {
  color: #497870;
}

.phone-number {
  display: flex;
  justify-content: start;
}

.contacts {
  font-style: normal;
  font-size: 1.1111111111rem;
  color: #010101;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__phone {
  color: #0b4d3c;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 4%;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
  position: relative;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #ffffff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border: 0.0555555556rem solid transparent;
  border-radius: 50%;
  display: block;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #ffffff;
}